@font-face {
  font-family: Parisienne;
  src: url(fonts/Parisienne-Regular.ttf);
}

html {
  height: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: auto;
  min-height: 100%;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

.main_background {
  position: relative;
  text-align: center;
  width: 100%;
}

.main_title {
  font-family: 'Parisienne';
  font-size: 10vw;
  color: rgb(46, 133, 148);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alt_title {
  font-family: 'Parisienne';
  font-size: 10vw;
  color: rgb(46, 133, 148);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(127, 171, 179);
  overflow: hidden;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  padding: 1vh 1vh;
  width: 100%;
  top: 0; /* At the top */
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: 'Parisienne';
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 2vh 2vh;
  text-decoration: none;
  font-size: 3.5vw;
  font-weight: 550;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #148194;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    padding: 1vh;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#counter {
  font-family: 'Parisienne', cursive;
  font-size: 6vw;
  color: rgb(46, 133, 148);
  text-align: center;
  font-weight: 550;
}

#first-page {
  height: 100%;
  width: 100%
}

#myBtn {
  font-family: 'Parisienne';
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 90%;
  /* bottom: 20px; Place the button at the bottom of the page */
  right: 5%;
  /* right: 50px; Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(127, 171, 179); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 3vw; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.helyszin-content {
  height:100vh;
  display:grid;
  place-content:center;
}

.contact {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.contact > div {
  margin: 10px;
  padding: 20px;
  font-size: 4vw;
}

#lili, #pisti, .slideshow-container, #program, #transfer, #szallas, #allergenek, #route {
  max-width: 100%;
  text-align: center;
  font-family: 'Parisienne', cursive;
  font-size: 3.3vw;
  --b: 10px;
  padding: var(--b);
  border: calc(2*var(--b)) solid #0000;
  outline: 1px solid #000;
  outline-offset: calc(-1*var(--b));
  background: conic-gradient(from 90deg at 1px 1px,#0000 90deg,#000 0);
}

#lili_name, #pisti_name {
  font-family:'Parisienne';
  font-size: 5vw;
  font-weight: 580;
}

.map {
    position :relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.transfer_map {
  position :relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive_transfer_map {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#contact-title, #galery {
  margin-top: 10vh;
  font-family: 'Parisienne';
  font-size: 6vw;
  text-align: center;
}

#location-title {
  margin-top: 0;
  font-family: 'Parisienne';
  font-size: 6vw;
}

@media (max-width: 800px) {
  .contact {
    flex-direction: column;
  }
}

.fa {
  padding: 2vh;
  font-size: 1.3vw;
  width: 1vw;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
  max-width: 100% !important
}

/* Slideshow container */
.slideshow-container {
  width: 70%;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

#route_info, #additional_location_info {
  font-family:'Parisienne';
  font-size: 4vw;
  text-align: center;
}

#program, #transfer {
  font-family: 'Parisienne';
  font-size: 4vw;
  text-align: center;
  margin-bottom: auto;
}

#program_title, #transfer_title, #szallas_title, #allergenek_title {
  font-size: 6vw;
  margin-top: auto;
}

#closing {
  font-family: 'Parisienne';
  font-size: 6vw;
  text-align: center;
}

#felsorolas {
  margin-left: 10vw;
  text-align: left;
  position: relative;
}